body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#chat {
  background-color: black;
  color: #00FF00;
  flex: 1;
  padding: 1em;
  position: relative;
}

#messages {
  max-height: calc(100vh - 90px);
  overflow-y: scroll;
}

#chat p:first-child {
  margin-top: 0;
}

#chat p span {
  display: inline-block;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
}

#chat p:nth-child(even) span {
  border: 1px solid #2294fb;
  background-color: #2294fb;
  color: white;
}

#chat p:nth-child(odd) {
  text-align: left;
}

#chat p:nth-child(even) {
  text-align: right;
}

#chat form {
  position: fixed;
  bottom: 1em;
  width: calc(50% - 1em);
}

input[type='text'] {
  width: calc(100% - 20px);
  padding: 10px;
  font-family: monospace;
  font-size: 1rem;
  border-radius: 20px;
}

input[type='text'][disabled] {
  cursor: wait;
}

#image {
  flex: 1;
  background-image: url("/static/art.jpg");
  background-size: cover;
  background-position: center;
}

#feed-overlay-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.hidden {
  display: none;
}

#feed-overlay {
  position: absolute;
  width: 1000px;
  height: 563px;
  z-index: 1;
  overflow: hidden;
  bottom: calc(50% - 231.5px);
  left: calc(50% - 500px);
  border: 5px solid black;
  border-radius: 20px;
  background: black;
}

#feed-overlay small {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 8px;
  color: #666;
}

#feed-overlay small a {
  color: #666;
}

#feed-overlay iframe {
  position: absolute;
  /*transform: perspective(48cm) rotateX(9deg) rotateY(36deg) rotateZ(3deg) translate(11em, 8em) scale(1.33);
  transform-origin: 32em 15em;*/
   transform: perspective(3.2cm) rotateY(7.1deg) translate(13em, 13em) scale(1.55);
   transform-origin: 10em 31em;
}

#feed-overlay img {
  position: absolute;
  pointer-events: none;
  width: 100%;
}

#feed-overlay h3 {
  position: absolute;
  z-index: 1;
  color: #00ff00;
  transform: perspective(3.5cm) rotateY(6.1deg) translate(29em, 16em) scale(1.55);
  transform-origin: 10em 31em;
  pointer-events: none;
}

#close-feed {
    position: absolute;
    z-index: 1;
    color: black;
    right: 1rem;
    top: 0.5rem;
    font-size: 32px;
    text-decoration: none;
    font-weight: bold;
}
