<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Perihelion</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
      <div id="container">
        <div id="image"></div>
        <div id="chat">
          <div id="messages">
            <p><span>&hellip;</span></p>
          </div>

          <form id="message-form">
            <input type="submit" hidden />
            <input type="text" id="message-input"/>
          </form>
        </div>
      </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(async () => {
          const $form = $("#message-form");
          const $input = $("#message-input");
          const q = new URLSearchParams(location.search);
          let threadId = q.get('thread');
          let messages = [];

          if (!threadId) {
            const threadResp = await fetch('/threads', { method: 'POST' });
            threadId = await threadResp.text();
            q.set('thread', threadId);
            history.replaceState({}, '', `${location.pathname}?${q}`);
          }
          
          const getMessages = async () => {
            const msgResp = await fetch(`/messages/${threadId}`);
            messages = await msgResp.json();
            $input.prop('disabled', false);
            messages.push('Hello passenger, welcome to the Perihelion.');
            messages.reverse();
            const elems = messages.map(msg => `<p><span>${msg || '&hellip;'}</span></p>`);
            $('#messages').html(elems.join(""));
          };

          const awaitNewMessages = async (expectedNumMessages) => {
            await getMessages();
            const numMessages = messages.filter(msg => msg && msg.length > 0).length;
            if (numMessages < expectedNumMessages) {
              setTimeout(() => awaitNewMessages(expectedNumMessages), 1000);
            }
          }

          awaitNewMessages();

          $form.submit(async (event) => {
            event.preventDefault();
            const message = $input.val();
            if (message.length) {
              $input.val(''); 
              $input.prop('disabled', true);
              const expectedNumMessages = messages.length + 2;
              await fetch(`/messages/${threadId}`, {
                method: 'POST',
                body: JSON.stringify({ message }),
                headers: { 'Content-Type': 'application/json' }
              });
              $input.prop('disabled', false);
              awaitNewMessages(expectedNumMessages);
            }
          });
        });
    </script>
</html>
