<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Perihelion</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" href="/static/favicon.ico">
    </head>
    <body>
      <div id="feed-overlay-wrapper" class="hidden">
        <div id="feed-overlay-bg"></div>
        <div id="feed-overlay">
          <h3>Perihelion Live Drone Footage</h3>
          <a href='javascript:void(0)' id="close-feed">×</a>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/x10vL6_47Dw?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <img src="/static/sanctuary_moon.png">
          <small>Credit: <a href="https://www.katiecoulas.com">Katie Coulas</a></small>
        </div>
      </div>
      <div id="container">
        <div id="image"></div>
        <div id="chat">
          <div id="messages">
            <p><span><em class='loading' title='I am loading, human'></em></span></p>
          </div>

          <form id="message-form">
            <input type="submit" hidden />
            <input type="text" id="message-input"/>
          </form>
        </div>
      </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        // A small bit of duplication
        const MEDIA_URLS = [
          "https://www.youtube.com/watch?v=3-wzr74d7TI",
          "https://www.youtube.com/watch?v=kcVDvX5swzk",
          "https://www.youtube.com/watch?v=LhqcnRMLnyU",
          "https://www.youtube.com/watch?v=WLfAf8oHrMo",
          "https://www.youtube.com/watch?v=F36njQ5lMoU",
        ];

        $(document).ready(async () => {
          const $feedClose = $("#close-feed");
          const $feedFrame = $("#feed-overlay iframe");
          const $feedOverlay = $("#feed-overlay");
          const $feedWrapper = $("#feed-overlay-wrapper");
          $feedOverlay.click(ev => { ev.stopPropagation(); });
          $feedWrapper.click(() => { $feedFrame.attr('src', ''); $feedWrapper.addClass('hidden'); });
          $feedClose.click(() => { $feedFrame.attr('src', ''); $feedWrapper.addClass('hidden'); });

          $(document).on('click', 'a', ev => {
            const $link = $(ev.currentTarget);
            const href = $link.attr('href');
            if (href.includes('youtube')) {
              ev.preventDefault();
              const youtubeId = new URLSearchParams(new URL(href).search).get('v');
              $feedFrame.attr("src", `https://www.youtube.com/embed/${youtubeId}?autoplay=1`);

              // A hack because the OpenAI API doesn't seem to save info re:
              // which function was called
              if (MEDIA_URLS.includes(href)) {
                $feedWrapper.find('h3').text("Pirated Entertainment Feed");
              } else {
                $feedWrapper.find('h3').text("Perihelion Live Drone Footage");
              }

              $feedWrapper.removeClass('hidden');
            }
          });

          const $form = $("#message-form");
          const $input = $("#message-input");
          const $messages = $("#messages");
          const q = new URLSearchParams(location.search);
          let threadId = q.get('thread');
          let messages = [];

          if (!threadId) {
            const threadResp = await fetch('/threads', { method: 'POST' });
            threadId = await threadResp.text();
            q.set('thread', threadId);
            history.replaceState({}, '', `${location.pathname}?${q}`);
          }

          const munge = msg => {
            if (!msg) return "<em class='loading' title='I am loading, human'></em>";
            return msg.replace(/\[([^\]]+)\]\(([^\)]+)\)/, '<a target="_blank" href="$2">$1</a>');
          }

          const renderMessages = () => {
            const elems = messages.map(m => `<p class="${m.speaker}"><span>${munge(m.message)}</span></p>`);
            $messages.html(elems.join(""));
            $messages[0].scrollTop = $messages[0].scrollHeight;
          }
          
          const getMessages = async () => {
            const msgResp = await fetch(`/threads/${threadId}`);
            messages = await msgResp.json();
            messages.push({
              'speaker': 'assistant',
              'message': 'Hello passenger, welcome to the Perihelion.'
            });
            messages.reverse();
            renderMessages();
          };

          const fetchRunStatus = async (runId) => {
            const runResp = await fetch(`/threads/${threadId}/runs/${runId}`);
            const runStatus = await runResp.text();
            return runStatus;
          }

          const awaitRunCompletion = async (runId) => {
            while (await fetchRunStatus(runId) !== 'completed') {
              await new Promise(r => setTimeout(r, 1000));
            }
            await getMessages();
          }

          $form.submit(async (event) => {
            event.preventDefault();
            const message = $input.val();
            if (message.length) {
              $input.val(''); 
              $input.prop('disabled', true);
              messages.push({ 'speaker': 'user', message });
              messages.push({ 'speaker': 'assistant', message: ''});
              renderMessages();
              const msgResp = await fetch(`/threads/${threadId}`, {
                method: 'POST',
                body: JSON.stringify({ message }),
                headers: { 'Content-Type': 'application/json' }
              });
              const runId = await msgResp.text();
              await awaitRunCompletion(runId);
              $input.prop('disabled', false);
            }
          });

          getMessages();
        });
    </script>
</html>
